.transfer-filter{
    height: 269px;
    background-color: #fff;
    margin-right: 50px;
    padding: 10px 0;
    min-width: 250px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
            0px 2px 4px rgba(0,0,0,0.1), 
            0px 4px 8px rgba(0,0,0,0.1), 
            0px 8px 16px rgba(0,0,0,0.1);
}
.transfer-filter-item:hover{
    background-color: #F1FCFF;
    margin-left: -10px;
}
.transfer-filter-container-item{
  padding: 0 0 0 10px;
}

.transfer-filter-item{
    transition: 0.3s;
    display: flex;
    align-items: center;
    padding: 5px 0;
    padding-right:10px;
    margin-bottom: 5px;
    font-weight: 400;
}
.transfer-filter-item input{
    display: inline-block;
    margin-left: 20px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.transfer-filter h4{
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.filter-checkbox[type = 'checkbox']{
    display: none;
}

label{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding-left: 20px;
}

label::before{
    background-image: url('../../img/input-svg.svg');
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-right: 10px;
    margin-left: -15px;

}

input[type='checkbox']:checked + label::before{
    background-image: url('../../img/checkd-svg.svg');

}

@media(max-width: 820px) {
  .transfer-filter h4{
    position: relative;
    padding: 5px 10px;
    top: 10px;
    margin: 10px auto;
}
  .transfer-filter{
    display: flex;
    flex-wrap: wrap;
    row-gap: 0px;
    padding: 0;
    height: auto;
    margin-right: 0px;
    margin: 0 auto;
  }
  .transfer-filter-item{
    width: 150px;
    margin-top: 0px;
    display: block;
    align-items: center;
    padding: 5px 0;
    margin-bottom: 5px;
  }
  .transfer-filter-container-item{
    display: flex;
    flex-wrap: wrap;
  }
}